<footer id="siteFoot" class="bg-primary py-4 text-white">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione enim distinctio sint quod, odit nulla molestiae ad harum fugiat deserunt mollitia expedita veritatis veniam amet odio! Officia sunt facilis molestiae.</p>
			</div>
			<div class="col-lg-5">
				<a href="{% url 'home' %}"><img src="https://placehold.co/600x300" alt="" style= "height:100%; width: 100%;"></a>
			</div>
		</div>
	</div>
</footer>