<header id="seiteHeader">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <a href="#"><img id="imageHeader" alt="LOGO"></a>
                </div>

                <nav id="navigation" class="col-lg-7">
                    <u>
                        <li><a href="">Home</a></li>
                        <li><a href="">accounts</a></li>
                        <li><a href="">products</a></li>
                        <li><a href="">orders</a></li>
                        <li><a href="">about</a></li>
                    </u>

                    <form action="#" id="serachForm" class="input-group">
                        <input type="search" form="form-control" placeholder="Search...">
                        <button id="buttonSearch" type="submit">search</button>
                    </form>
                </nav>
            </div>
        </div>
    </header>

    <hr>