<header id="siteHead">
	<div class="container py-2">
		<div class="row">
			<div class="col-lg-5">
				<a href="{% url 'home' %}"><img id="logohead" src="https://placehold.co/600x150" alt="عکس لوگو سایت"></a>
			</div>
			<nav id="navigation" class="col-lg-7">
				<ul class="menu mb-4">
					<li><a href="{% url 'home'%}">Home</a></li>
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'myprofile' %}">My Profile</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Login</a></li>
					{% endif %}
					
					<li><a href="#">Contacts</a></li>
					<li><a href="#">About</a></li>
				</ul>

				<!-- <button class="buttonmenu" type="button">پخش اهنگ اختصاصی شما</button> -->
				
				<form method="GET" action="{% url 'home' %}" id="searchform" class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Serach Rooms ...">
						<button type="submit">search</button>
				</form>
			</nav>
		</div>
	</div>
</header>