<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studieren</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/vendor/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/vendor/stylesheet.css' %}">
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    
</head>
<body class="main-body">
    {% include 'header.html' %}

    
    {% if messages %}
        <ul class="mmessages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}
    <script id="themejs" src="{% static 'js/script.js' %}" data-ajax="" defer></script>
    <script src="{% static 'js/vendor/bootstrap.js' %}"></script>
</body>
</html>