{% extends 'base/dashboard_base.html' %}
{% block title %} Studieren | Waiting for determine the role {% endblock title %}

{% block sidebar_menu %}
<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'editprofile' %}">Edit Profile</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

{% endblock sidebar_menu %}

{% block dashboard_content %}
<div class="infouser">
    <h2>Wellcom {{ user.get_full_name }} (Pending)</h2>
    <hr>
    <h3>Your account is awaiting role determination.</h3>
    <p>
        Dear user, your account has been created successfully.
        <br>
        Please contact the institution management or wait for your role to be determined by the senior manager.
        After enrolling in each course, your role will be automatically changed to the student and you will see your
        student panel.
    </p>
    <a href="{% url 'logout' %}"></a>
</div>
{% endblock dashboard_content %}