{% extends "main.html" %}

{% block content %}

<div style="margin: 20px 20px;">
    <h1>Home Page</h1>
    {% if request.user.is_authenticated %}
        <h2>Hello {{ request.user }}</h2>
    {% endif %}
    <div class="container">
        <div class="row">
            
            <aside id="browse-topics" class="col-lg-2 boxstyle" style="height: 50vh;">
                <h3>Browse Topics</h3>
                <a href="{% url 'home'%}">All</a>
                {% for topic in topics %}
                    <div>
                        <a href="{% url 'home'%}?q={{topic.name}}">{{topic.name}}</a>
                    </div>
                {%endfor%}
            </aside>
    
        
            <div id="" class="col-lg-10">
                <h5>{{room_count}} Rooms availabale</h5>
    
                <div class="" id="createroom">
                    <a class="button" href="{% url 'create-room' %}">Create Room</a>
                    <hr>
                </div>
                
                <div>
                    {% for room in rooms%}
                        <div id="viewrooms" class="boxstyle">
                            <span>@{{room.host.username}}</span>
                            <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
                            <small>{{room.topic.name}}</small>
    
                            {% if request.user == room.host %}
                            <a class="button" href="{% url 'update-room' room.id %}">Edit</a>
                            <a class="button" href="{% url 'delete-room' room.id %}">Delete</a>
                            {% endif %}
    
                        </div>
                    {% endfor%}
                </div>
    
            </div>
        </div>
    </div>
    
</div>



{% endblock %}

