{% extends 'main.html' %}

{% block content %}
    <div id="formpage">
        <div class="formstyles">
            <ul class="list-myprofile">
                <li>Username: ({{user.username}})</li>
                <li>First Name: {{user.first_name}}</li>
                <li>Last Name: {{user.last_name}}</li>
                <li>National code: {{user.national_code}}</li>
                <li>Birthday: {{user.birthday}}</li>
                <li>Email Address: {{user.email}}</li>
                <li>Phone Number: {{user.phone}}</li>
                <li>Address: {{user.address}}</li>
                <li>Postal code: {{user.postal_code}}</li>
            </ul>
        </div>
    </div>
{% endblock content%}