{% extends 'main.html' %}
{% block content %}

    <div id="formpage">
        <div class="formstyles">
            <h1>Reset password</h1>
            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="input-group">
                    <label for="">Email Address</label>
                    <input type="email" name="email" placeholder="Email" required>
                    

                    {% if form.email.errors %}
                            <div class="error-box">
                                {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                    {% endif %}

                </div>
                <button class="button" type="submit" >Reset</button>
                <a class="button" href="{% url 'login' %}">Back</a>
        </form>

        </div>
    </div>
{% endblock content %}