{% extends 'main.html' %}

{% block content %}

    <div id="formpage">
        <div class="formstyles">
            <h1>Change Password</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <h2>Create new password</h2>
            
                <div class="input-group">
                    <label for="">Password</label>
                    {{ form.new_password1 }}    
                    <div class="check-password">
                        <ul>
                            <li>Be Unique: Avoid personal information like names, birthdays, or addresses.</li>
                            <li>Be Long: Use at least 8 characters.</li>
                            <li>Be Uncommon: Steer clear of common or easily guessable passwords.</li>
                            <li>Be Complex: Don’t use only numbers; mix letters (uppercase and lowercase) and symbols.</li>
                        </ul>
                    </div>

                    {% if form.new_password1.errors %}
                        <div class="error-box">
                            {% for error in form.new_password1.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                    
                <div class="input-group">
                    <label for="">Password Confirm</label>
                    {{ form.new_password2 }}

                    {% if form.new_password2.errors %}
                        <div class="error-box">
                            {% for error in form.new_password2.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button class="button" type="submit">Change Password</button>
                <a class="button" href="{% url 'home' %}">Back</a>
            </form>
            {% for message in messages %}
                <p style="color:red"> {{ message }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock content %}